<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle12cDialect
		</property>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin://localhost:1521/orcl
		</property>
		<property name="hibernate.connection.username">
			system
		</property>
		<property name="hibernate.connection.password">
			Oracle_1
		</property>
		
		<mapping class="by.epam.newsmanagement.entity.author.Author"></mapping>
		<mapping class="by.epam.newsmanagement.entity.user.User"></mapping>
		<mapping class="by.epam.newsmanagement.entity.Comment"></mapping>
		<mapping class="by.epam.newsmanagement.entity.News"></mapping>
		<mapping class="by.epam.newsmanagement.entity.Tag"></mapping>
	</session-factory>
</hibernate-configuration>