<!DOCTYPE html>
<html>
<head>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.amd.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/news-client">Home</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>USER NAME</li>
			<li><a href="RentalShopController?action=SignOut">SIGN OUT</a></li>
		</ul>
		<!--/.container-fluid -->
	</nav>

	<div class="container">
		<div class="blog-header">
			<h1 class="blog-title" id="main-title">Main title</h1>
			<p class="lead blog-description" id="short-title">The official
				example template of creating a blog with Bootstrap.</p>
		</div>

		<div class="row">

			<div class="col-sm-8 blog-main">

				<div class="blog-post">
					<h2 class="blog-post-title">Sample blog post</h2>
					<p class="blog-post-meta" id="date-author"></p>
					<br>
					<p class="blog-post-meta" id="modification-date"></p>

					<p id="content"></p>
					<hr>
					<p id="modif-date"></p>
					<p id="tags"></p>
				</div>
				<!-- /.blog-post -->

				<nav>
					<ul class="pager">
						<li><a href="#">Previous</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</nav>

			</div>
			<!-- /.blog-main -->

		</div>
		<!-- /.row -->

	</div>


	<h2 class="page-header">Comments</h2>
	<section class="comment-list"></section>

	<div class="widget-area no-padding blank">
		<div class="status-upload">
			<form>
				<textarea placeholder="Leave a comment"></textarea>
				<button type="submit" class="btn btn-success green" id="addComment">
					<i class="fa fa-share"></i> Add Comment
				</button>
			</form>
		</div>
		<!-- Status Upload  -->
	</div>
	<!-- Widget Area -->


</body>
</html>